@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

.sidebar {
	margin-top: 12px;
	float:right;
	width:400px;
}
 
.sidebar .widget {
	padding:25px;
	margin:0 0 12px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
	border-bottom: 2px solid #16a085;
}
 
.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#16a085;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 14px;
}
 
.sidebar .widget p:last-child {
	margin:0;
}

.sidebar .widget a{
	text-decoration: none;
	text-transform: uppercase;
	color: #16a085;
	font-weight:600;
}

.sidebar .widget a:hover{
	text-decoration: underline;
	background-color:#1abc9c;
	color: #fff;
}

.sidebar .widget ul{
	overflow:hidden;
	color:#fff;
	list-style: none;
	padding:0;
	width: 100%;
	margin:0 0 0;
	background: #1abc9c;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}

.sidebar .widget ul li{
	margin: 0;
}

.sidebar .widget ul a{
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

.sidebar .widget ul a:hover {
	text-decoration: underline;
	background-color:#16a085;
}